@use 'variable';

@mixin btn($buttonColor) {
  height: 40px;
  width: 40px;
  margin: 10px 0px 10px 10px;
  background: $buttonColor;
}

@mixin main-btn($buttonColor) {
  height: 40px;
  width: 140px;
  background: $buttonColor;
  margin: 5px;
}