@use 'mixin';
@use 'variable';

$maxWidth: 400px;

.header, .footer {
  height: 100px;
  width: $maxWidth;
}

.header {
  background: variable.$navy;
  position: absolute;
}

.btns {
  position: relative;
  display: flex;
  background: variable.$white;
  margin: 20px;
  width: 160px;
  top: 20px;
  left: 200px;
}

.btn {
  @include mixin.btn();
  @each $name in variable.$classNames {
    $index_key: index(variable.$classNames, $name);
    $color : nth(variable.$buttonColor, $index_key);
    &.#{$name} {
      background-color: $color;
    }
  }
}

.main-btn {
  @include mixin.main-btn();
  @each $name in variable.$classNames {
    $index_key: index(variable.$classNames, $name);
    $color : nth(variable.$buttonColor, $index_key);
    &.#{$name} {
      background-color: $color;
    }
  }
}

.flex {
  display: flex;
}

.sidebar {
  height: 250px;
  width: 150px;
  background: variable.$green;
}

.main {
  height: 250px;
  width: 250px;
  background: variable.$red;

  .btn-wrapper {
  height: 50px;
  width: 150px;
  background: variable.$white;
  margin-left: 40px;
  display: inline-block;

  &:first-child {
    margin-top: 60px;
  }
}
}

.footer {
  height: 100px;
  width: $maxWidth;
  background: variable.$brown;
}

